{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}


{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static '/js/plugins/vue-select.js' %}"></script>
    <script src="{% static '/js/plugins/vue-bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static '/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/js/vue-table.js' %}"></script>



{% endblock javascripts %}