{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <title>Proyecto Prestamo</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Font-icon css-->
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock stylesheets %}
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/notify.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="app sidebar-mini rtl pace-done">

        <input id="tocken" value="{{ csrf_token }}">
        {% block header %}

                <div class="app-header"><a class="app-header__logo" href="{% url 'index' %}">Proyecto</a>
                    <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
                    <!-- Navbar Right Menu-->
                    {% if user.is_authenticated %}
                        <ul class="app-nav">
                            <!-- User Menu-->
                            <li class="dropdown">
                               <a class="dropdown-item" href="{% url 'logout'%}"><i class="fa fa-sign-out fa-lg"></i> Logout</a>
                            </li>
                        </ul>
                    {% endif %}
                </div>

                <!-- Sidebar menu-->
                <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
                <aside class="app-sidebar">
                <!-- opcion menu usuario -->
                    {% if user.is_authenticated %}
                        <div class="app-sidebar__user">
                            <i class="fa fa-user-circle-o fa-3x" aria-hidden="true"></i>
                            <p  style="margin-left: 10%" class="app-sidebar__user app-sidebar__user-designation">{{ user.get_username }}</p>
                        </div>


                        <!-- menu principal -->
                        <ul class="app-menu">
                            <li>
                                <a id="menu_complejo" class="treeview-item" href="{% url 'home' %}">
                                    <i class="icon fa fa-circle-o"></i>
                                    Home
                                </a>
                            </li>
                        </ul>
                    {% endif %}
                </aside>

        {% endblock %}

        <div id="app_content">
            <loading></loading>
        </div>
         <main class="app-content" >
            {% block content %}

            {% endblock %}
         </main>

        <script src="{% static '/js/vue.js' %}"></script>
        <script src="{% static '/js/vuex.js' %}"></script>
        <script src="{% static '/js/axios.js' %}"></script>
        <script src="{% static '/js/vee-validate.js' %}"></script>
        <script src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/js/popper.min.js' %}"></script>
        <script src="{% static '/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/js/plugins/bootstrap-notify.min.js' %}"></script>
        <script src="{% static '/js/notify.js' %}"></script>
        <script src="{% static '/js/uiv.js' %}"></script>
        <script src="{% static '/js/main.js' %}"></script>


        <!-- The javascript plugin to display page loading on top-->
        <script src="{% static '/js/plugins/pace.min.js' %}"></script>
        <!-- Page specific javascripts-->

        <!-- Google analytics script-->
        <script type="text/javascript">
            const URL_PREFIX = '{{ URL_PREFIX }}';
            const API_PREFIX = 'api/';


            if(document.location.hostname == 'pratikborsadiya.in') {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-72504830-1', 'auto');
                ga('send', 'pageview');
            }
        </script>
        <script src="{% static '/js/plugins/moment.min.js' %}"></script>
        <script src="{% static '/js/utils.js' %}"></script>
        <script src="{% static '/js/store.js' %}"></script>
        <script src="{% static '/js/loading.js' %}"></script>
        <script src="{% static '/js/app_content.js' %}"></script>
        {% block javascripts %}
        {% endblock javascripts %}
</body>
    </body>
    </html>