{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheets %}
    {{ block.super }}
    <link href="https://cdn.jsdelivr.net/npm/pc-bootstrap4-datetimepicker@4.17/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
    <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> Prestamos Online</h1>

        </div>
    </div>
    <div class="tile mb-4" id="prestamos">


        <div class="col-md-10">
            <prestamo_action
                :tipo="'solicitar'"
                :titulo_new="'Solicitar Prestamo'"
                :id_update="id_update"
                @close="show_prestamo(true)"
            ></prestamo_action>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script src="{% static '/js/plugins/vue-select.js' %}"></script>
    <script src="{% static '/js/plugins/vue-bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static '/js/plugins/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static '/js/vue-table.js' %}"></script>
    <script src="{% static '/js/prestamo.js' %}"></script>




{% endblock javascripts %}